# DATA-DIR will be auto selected by sed then create
# DATA-DIR-BEGIN
## 数据库/缓存
mysql/data
mysql/conf
mongo/data
redis/data
## ELK
elk-7/es-standalone
elk-7/es-plugins
elk-7/logstash
elk-7/kibana
elk-7/conf/es-standalone
elk-7/conf/es-master
elk-7/conf/es-slave1
## Web
nginx/html
nginx/conf.d
## MQ
rabbitmq/data
# DATA-DIR-END

# DATA-OTHER
